.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1126px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nav{
    color: #2935A7;
    -webkit-font-feature-settings: 'clig' off, 'liga' off;
            font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rockwell;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 80% */
    letter-spacing: 0.4px;
    padding-top: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
nav li, ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 50px;
}
header h2{
    color: #222;
    margin-right: 50px;
    font-family: "Rockwell Extra Bold";
    font-size: 27.65px;
    font-style: normal;
    font-weight: 800;
    line-height: normal

}
header i{
    padding-top: 20px;
    width: 60.829px;
height: 55.3px;
-ms-flex-negative: 0;
    flex-shrink: 0;
}
#bar{
    display: none;
}

.s-1{
    margin-top: 70px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.s-1 h3{
    color: #222;
font-family: "josefin sans";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
gap: 30px;
height: 100px;
padding-left: 100px; 
padding-top: 80px;
}
.s-1 h4{
    color: #222;
    -webkit-font-feature-settings: 'clig' off, 'liga' off;
        font-feature-settings: 'clig' off, 'liga' off;
font-family: Rockwell;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 66.667% */
letter-spacing: 0.48px;
display: block;
height: 50px;
margin-left: 50px;
padding-left: 90px;
padding-top: 100px;
}
.container-1{
    height: 400px;
    max-width: 800px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

footer{
    background: #A9AEDC;
    max-width: 100%;
height: 310px;
-ms-flex-negative: 0;
    flex-shrink: 0;
margin-top: 75px;

}
footer h3{
    color: #222;
font-family: "Rockwell Extra Bold";
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 100px;
}
.stone{
    padding-top: 40px;
}
.icons{
    margin-left: 100px;
    padding-top: 20px;    
}
.foot-nav{
    margin-left: 290px;
    margin-top: 0px;
}
.foot-nav a{
    color: #222;
font-family: "Rockwell Extra Bold";
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
margin-left: 45px;
}
.contact-1{
    display: block;
    margin-top: 50px;
    padding-top: 50px;
}
.s-2{  
    margin-top: 50px;
    background-color: lightyellow;
}
.s-2 h2{
    display: inline-block;
    font-family: "josefin sans";
    color: #222;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
span{
    font-family: "josefin sans";
    color: #222;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.s-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.box img{
    border: 2px solid;
    height: 255px;
}
.box{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.container-3{
    margin: 0 auto;
    width: 100%;
    max-width: 1326px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 50px;
}
.s-3 h2{
    color: #222;
    font-family: "Rockwell Extra Bold";
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 70px;
}
.s-3{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 70px;
}
.container-3 h4{
    color: #222;
    -webkit-font-feature-settings: 'clig' off, 'liga' off;
            font-feature-settings: 'clig' off, 'liga' off;
    font-family: Rockwell;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 66.667% */
    letter-spacing: 0.48px;
}
.container-3 h3{
    color: #222;
font-family: "Rockwell Extra Bold";
font-size: 30px;
font-style: normal;
font-weight: 1000;
line-height: normal;
}
.s-4 img{
    max-width: 2000px;
    width: 100%;
}
.nav:hover{
    color: green;
}
.s-4 {
    /* The image used */
    background-image: url("images/factory.jfif");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .s-4 p{
    color: #000;
font-family: Rockwell;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 111.111% */
  }
.s-4 img{
    width: 2000px;
    width: 100%;
}
.ser-1 p{
    color: white;
    font-family: Rockwell;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}
.s-2{
    width: 100%;
    max-width: 2000px;
}
.ser-1{
    display: flex;
    justify-content: center;
}
